<h1>Carrito de Compras</h1>

{{#if cart.products.length}}
    <ul>
        {{#each cart.products}}
            <li>
                {{this.product.name}} - Precio: {{this.product.price}} - Cantidad: {{this.quantity}}
            </li>
        {{/each}}
    </ul>
    <p>Total: {{calcularTotal cart.products}}</p>
    <form method="post" action="/:cid/purchase">
        <button type="submit">Realizar Pago</button>
    </form>
{{else}}
    <p>El carrito está vacío.</p>
{{/if}}