<div id="carrito">
<h1>Carrito de Compras</h1>
<table>
  <tbody>
    {{#each cart.items}}
      <tr>
        <td>{{this.product.name}}</td>
        <td>{{this.quantity}}</td>
        <td>${{this.product.price}}</td>
        <td>${{this.product.price this.quantity}}</td>
        <td>
          <button data-cid="{{cid}}" data-pid="{{pid}}" class="remove-from-cart" onclick="removeProductFromCart('{{cid}}', '{{pid}}')">Eliminar</button>
          <p>Total del Carrito: ${{cart.totalPrice}}</p>
        <button class="finalize-purchase">Finalizar Compra</button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
</div>
<script src="/js/cart.js"></script>
<script src="/js/products.js"></script>